.textMessage{
	gap: 1em;
	padding: 0.5em;
	border: 1px solid transparent;
	display:flex;
	justify-content: space-between;
	align-items: start;
	transition: 0.3s;
	border-radius: 0px var(--borderRadius) var(--borderRadius) 0px;
}
.textMessage:focus{
	outline: auto;
}
.messageContainer{
	display: flex;
	align-items: start;
	gap: 0.5em;
}

.messageContent,
.urlContent{
	color: var(--txtColor0);
	text-align:left;
	margin: 0;
	width:100%;
}
.urlContent	{
	display: flex;
	flex-direction:column;
}
.shedLiveTextMessage a{
	color: var(--prattleColor);
}

.messageSender,
.messageTime{
	user-select: none;
	color:var(--baseColor5);
	width: auto;
	text-align: right;
	margin: 0;
	font-size: 0.7em;
}
.messageTime{
	font-family: "Share Tech Mono", monospace;
}

.shedLiveTextMessage:hover{
	background-color: var(--baseColor3);
}
.tag{
	background-color: var(--prattleColor1);
	color: var(--baseColor0);
	border-radius:var(--borderRadius);
	padding: 0em 0.3em;
}