.textMessage{
	border: 1px solid transparent;
	width:100%;
	padding-bottom: 0.5em;
	align-items: start;
	transition: 0.3s;
}
.textMessage:focus{
	outline: auto;
}
.messageContainer{
	display: flex;
	align-items: start;
	gap: 0.5em;
	width: 100%;
}
@media screen and (max-width: 1000px){
	.textMessage{
		display: grid;
		gap: 0.5em;
		grid-template-columns: 1fr;
	}
}
@media screen and (min-width: 1001px){
	.textMessage{
		display: flex;
		justify-content: space-between;
	}
}

.messageContent p{
	color: var(--txtColor0);
	text-align:left;
	margin: 0;
	width:auto;
}
.messageContent a{
	color: var(--baseColor5);
	white-space: pre-wrap;
	font-size: 0.8em;
}

.userImage{
	width: 30px;
	height: 30px;
	border: var(--baseBorder2);
	border-radius:calc(var(--borderRadius)*5);
}
.placeHolderImage{
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	background-color: var(--baseColor2);
	border-radius:calc(var(--borderRadius)*5);
}