.threadContainer{
    /* margin-top: 0.5em; */
    margin-left: 1em;
    padding: 0.5em 0.2em;
    border-left: 1.5px solid  var(--baseColor3);
    width:auto;
    display: grid;
    grid-template-columns: 1fr;
}