/* Header font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Monospace font */
/* @import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Share+Tech+Mono&display=swap");

:root {
	--grey1: #5f5f5f;
	--grey2: #414141;
	--grey3: rgb(48, 48, 48);
	--grey4: #1f1f1f;
	--shedPurple: rgb(105, 94, 255);
	--borderRadius: 5px;
	--transparentBorder: 1px solid transparent;
	--clearBorder: 1px solid hsla(0, 0%, 80%, 0.3);
	--grey1Border: 1px solid var(--grey1);
	--grey2Border: 1px solid var(--grey2);
	--grey3Border: 1px solid var(--grey3);
	--grey4Border: 1px solid var(--grey4);
	--shePurpleBorder: 1px solid var(--shedPurple);
	--boxShadow: 0px 1px 30px #5555555d;
	--aniSpeed: 0.5s;
}

.gradientText{
	/* #ff7b00 */
	width: fit-content;
	background: linear-gradient(to right, var(--grey1) 20%, white 40%, white 60%, var(--grey1) 80%);
    background-clip: text;
    color: transparent;
	background-size: 200% auto;
	animation: gradientTextAni 10s infinite;
}
@keyframes gradientTextAni {
	0%{
		background-position: 200% center;
	}
	100%{
		background-position: 0% right;
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: var(--grey4);
}
::-webkit-scrollbar-track {
	margin: 10px;
	width: 5px;
	height: 5px;
	background: var(--grey4);

}
::-webkit-scrollbar-thumb {
	background-color: var(--shedPurple);
	width: 5px;
	height: 5px;
	border-radius: var(--borderRadius);
}
::-webkit-scrollbar-corner {
	background: var(--grey4);
}

html,
body {
	margin: 0;
	background-color: var(--grey4);
}
body{
	padding: 2% 10%;
}

/* Text Styling */
a {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	/* font-family: "Kanit", sans-serif; */
	/* font-family: helvetica, arial, sans-serif; */
	/* color: var(--shedPurple); */
	color: rgb(221, 221, 221);
}

h1 {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}
h2 {
	color: var(--grey1);
	margin: 1rem 0 2rem 0;
	line-height: 1.15;
	font-size: 2rem;
}
h3 {
	margin: 1rem 0;
	font-size: 1.5rem;
}

p,
a,
ol,
ul,
table {
	width: 100%;
	font-family: "Share Tech Mono", monospace;
	color: var(--grey1);
	border-collapse: collapse;
}
p{
	margin: 0.4em 0;
}
table, td, th {
	border: var(--grey1Border);
}
td, th {
	padding: 0.4em;
}
  

* {
	box-sizing: border-box;
}

/* Buttons */
.iconButton {
	background-color: transparent;
	border-radius: 5px;
	border: var(--grey2Border);
	color: white;
	padding: 0.7em 1em;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
	outline: none;
	user-select: none;
	transition: 0.3s;
}
.iconButton:disabled,
.iconButton[disabled] {
	cursor: not-allowed;
	opacity: 0.4;
}
.iconButton:not([disabled]):hover {
	background-color: var(--grey2);
	cursor: pointer;
}

.emojiButtonContainer{
	display: flex;
	justify-content: space-between;
	gap: 0.5em;
	margin-right:3em;
	animation: emojiButtonContainerAni 1s;
}
@keyframes emojiButtonContainerAni {
	0% {
		clip-path: circle(0% at 0% 0%);
		opacity: 50%;
	}
	100% {
		clip-path: circle(100%);
		opacity: 100%;
	}	
}
.emojiButton{
	background-color: var(--grey3);
	border-radius: var(--borderRadius);
	border: var(--grey2Border);
	color: white;
	padding: 0.3em 1em;
	cursor: pointer;
	outline: none;
	user-select: none;
	transition: 0.3s;
}
.emojiButton:hover {
	background-color: var(--grey4);
}

.duoGrid {
	gap: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.loginContainer {
	/* border: var(--clearBorder); */
	height: fit-content;
	max-width: 500px;
	margin: 1em;
	padding: 15px;
	border-radius: var(--borderRadius);
	background-color: var(--grey4);
}

/* FOR LANDING */
.main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header,footer {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: 2em;
	border: var(--grey3Border);
	padding: 0.1em 1em;
	border-radius:calc(var(--borderRadius)*2);
	box-shadow: var(--boxShadow);
}

.title {
	text-align: center;
}

code {
	display:inline-block;
	background: var(--grey3);
	color: white;
	border-radius: var(--borderRadius);
	padding: 1em;
	margin: 0;
	height: min-content;
	font-size: 0.8em;
	font-family: "Share Tech Mono", monospace;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* max-width: 800px; */
	gap: 1em;
	/* margin-top: 3rem; */
}

.card {
	margin-bottom: 1rem;
}
.card,
.clickableCard {
	padding: 1.5rem;
	border-radius: 10px;
	text-decoration: none;
	color: var(--grey1);
	transition: 0.5s;
	border: var(--grey3Border);
}

.clickableCard:hover,
.clickableCard:focus,
.clickableCard:active {
	cursor: pointer;
	border: var(--grey1Border);
	box-shadow: var(--boxShadow);
	transform: translateY(-5px);
}
.clickableCard h3{
	color: var(--grey1);
}

.clickableCard:hover h3{
	color: white;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		grid-template-columns: 1fr;
	}
}

.shedAlignedForm{
	display: grid;
	grid-template-columns:9fr 1fr;
	gap: 0.5em;
	background-color: var(--grey4);
	margin-top: 0.5em;
}

.shedForm {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5em;
	margin-bottom: 0.5em;
	background-color: var(--grey4);
	border: var(--grey2Border);
	border-radius: calc(var(--borderRadius)*2);
	padding: 0.5em;
}
.shedForm input,
.shedAlignedForm input,
.shedForm textArea {
	font-family: "Kanit", sans-serif;
	border-radius: 5px;
	border: var(--grey2Border);
	background-color: var(--grey3);
	outline: none;
	padding: 0.7em 1em;
	color: var(--shedPurple);
}
.shedForm textArea{
	resize: vertical;
}
.shedForm input:focus,
.shedForm textArea:focus {
	border-color: var(--shedPurple);
	background-color: var(--grey4);
}

.chatContacts {
	display: grid;
	gap: 0.5em;
	margin-top: 1em;
	padding: 0.1em;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
	border-radius: 5px;

}
.contactsChip {
	font-family: "Share Tech Mono", monospace;
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1.5em;
	border: 1px solid transparent;
	background-color: transparent;
    border-radius: 5px;
	color: white;
	padding: 0.7em 1em;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	user-select: none;
	transition: 0.3s;
}
.contactsChip div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contactsChip h4{
	font-size: 1.2em;
	width: max-content;
	margin: 0;
	padding: 0;
}
.contactsChip p{
	width: max-content;
	margin: 0;
	padding: 0;
}
.contactsChip:hover{
	cursor: pointer;
	background-color: var(--grey3);
	border-radius:0 var(--borderRadius) var(--borderRadius) 0;
	box-shadow:-2px 0px 0px var(--shedPurple);
}

.messagesContainer{
	padding: 0 0.3em;
	margin: 0;
	min-height: 75vh;
	height: auto;
	/* box-shadow: inset 0px -35px 10px -10px var(--grey3);  */
}
.sendMessageForm{
	position: sticky;
	bottom: 1em;
	margin-top: auto;
	background-color: var(--grey4);
	border: var(--grey3Border);
	border-radius: calc(var(--borderRadius)*2);
	box-shadow: var(--boxShadow);
	padding: 0.5em;
}
.notesContainer{
	display:flex;
	flex-direction:row;
	gap: 0.5em;
	height: min-content;
	overflow-x: scroll;
	padding: 0 0.3em 0.3em 0.3em;
	margin: 0 0 1em 0;
	border-radius: var(--borderRadius);
}
.shedLiveTextMessage{
	font-family: "Share Tech Mono", monospace;
	gap: 1em;
	color: var(--grey1);
	padding: 0.5em;
	display:flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.3s;
}
.shedLiveTextMessage:nth-child(1){
	box-shadow:-2px 0px 0px rgb(107, 255, 70);
	background: var(--grey3);
	border-radius: 0 var(--borderRadius) var(--borderRadius) 0 ;
}
/* .shedLiveTextMessage:nth-child(1) span::before, */
.shedLiveTextMessage:nth-child(1) div::before{
/* .shedLiveTextMessage:nth-child(1) h3::before{ */
	color: rgb(107, 255, 70);
	font-size: 16px;
	font-weight: none;
	content: "[Newest] ";
}
.shedLiveTextMessage div{
	display: flex;
	align-items: center;
	gap: 1em;
	margin-left: 1em;
}
.shedLiveTextMessage p,
.shedLiveTextMessage .urlContent,
.shedLiveTextMessage h3,
.shedLiveTextMessage details{
	/* box-shadow:-2px 0px 0px var(--grey2); */
	font-family: "Share Tech Mono", monospace;
	color: white;
	text-align:left;
	margin: 0;
	width:100%;
	/* padding-left: 0.5em; */
}
.shedLiveTextMessage .urlContent	{
	display: flex;
	flex-direction:column;
}
.shedLiveTextMessage a{
	color: var(--shedPurple);
}
.shedLiveTextMessage img,
.shedLiveTextMessage iframe	{
	border: var(--grey2Border);
	border-radius: var(--borderRadius);
	width:fit-content;
	height: 250px;
	margin: 0.5em 0 0 0;
}
.shedLiveTextMessage h4{
	user-select: none;
	color:var(--shedPurple);
	font-family: "Share Tech Mono", monospace;
	width: auto;
	text-align: right;
	margin: 0;
}
.shedLiveTextMessage:hover{
	cursor: pointer;
	background-color: var(--grey3);
	border-radius:0 var(--borderRadius) var(--borderRadius) 0;
	box-shadow:-2px 0px 0px var(--shedPurple);
}
.tag{
	background-color: var(--shedPurple);
	color: var(--grey4);
	border-radius:var(--borderRadius);
	padding: 0em 0.3em;
}
.colorful{
	color: white;
	animation: colorfulAni 1s 10;
}
@keyframes colorfulAni{
	0% {color: #39f;}
	15% {color: #8bc5d1;}
	30% {color: #f8cb4a;}
	45% {color: #95b850;}
	60% {color: #944893;}
	75% {color: #c71f00;}
	90% {color: #bdb280;}
   	100% {color: #39f;}
}


.note{
	user-select: none;
	border: var(--grey3Border);
	width: 400px;
	min-width: 300px;
	padding:0.5em;
	font-family: "Share Tech Mono", monospace;
	border-radius:var(--borderRadius);

}
.note section{
	font-weight: bold;
	color: var(--shedPurple);
	font-size: large;
	display:flex;
	align-items:center;
	gap: 0.5em;
}
.note span{
	color: var(--grey1);
}
.note p{
	user-select:text;
	color:white;
}